<!DOCTYPE html>
<html>
    <head>
        <!-- <script type="text/javascript" src="../../../node_modules/@kitware/vtk.js/vtk.js"></script> -->
        <script type="text/javascript" src="https://unpkg.com/vtk.js"></script>
    </head>
    <body>
        <div id="container"></div>
        <script type="text/javascript">

            const container = document.querySelector('#container');

            const renderWindow = vtk.Rendering.Core.vtkRenderWindow.newInstance();
            const renderer = vtk.Rendering.Core.vtkRenderer.newInstance();
            renderWindow.addRenderer(renderer);

            // webGL/OpenGL impl
            const openGLRenderWindow = vtk.Rendering.OpenGL.vtkRenderWindow.newInstance();
            openGLRenderWindow.setContainer(container);
            openGLRenderWindow.setSize(500, 500);
            renderWindow.addView(openGLRenderWindow);

            // interactor
            const interactor = vtk.Rendering.Core.vtkRenderWindowInteractor.newInstance();
            interactor.setView(openGLRenderWindow);
            interactor.initialize();
            interactor.bindEvents(container);

            // Interaction style
            const trackball = vtk.Interaction.Style.vtkInteractorStyleTrackballCamera.newInstance();
            interactor.setInteractorStyle(trackball);

            // pipeline
            const cone = vtk.Filters.Sources.vtkConeSource.newInstance();
            const actor = vtk.Rendering.Core.vtkActor.newInstance();
            const mapper = vtk.Rendering.Core.vtkMapper.newInstance();

            actor.setMapper(mapper);
            mapper.setInputConnection(cone.getOutputPort());
            renderer.addActor(actor);

            // Render
            renderer.resetCamera();
            renderWindow.render();


        </script>
    </body>
</html>